@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <label for="textCounter">Counter:</label>
        <input type="text" id="textCounter">
        <button type="button" class="btn btn-primary" id="buttonCounter" onclick="counterClicks()">Click Me!</button>
    </div>
</div>